# List ignore file in project
###################################################################################################
#
#  $Source: .gitignore $ 
#  $Revision: 1.0 $ 
#  $Author: Vu Hoang Thien $ 
#  Description: ignore file before commit on the sever / github
#
#
#  Remark: .\Git_taining\C_Training\.gitignore
#  (written by V.H.Thien on 19. Dec. 2020)
#
###################################################################################################


/build

###################################################################################################
#  File history:
#  
#  $Log: .gitignore  $ 
#  Commit Revision 2020/12/19 V.H.Thien (vuhoangthien110898@gmail.com) 
#  - Added comments -  V.H.Thien [2020/12/19 21.18.35 VN]
###################################################################################################